var-bg-color	  = #e5e9e8
var-border 		  = 1px solid #a5a8a8
var-overlay-padding = 20px 10px
var-border-radius = 6px
var-bg-box-shadow = inset 0px 0px 115px 0px #000000
var-overlay-bg-color = rgba(88, 90, 92, 0.7)