/*

Overlay
----------

    <div class="topcoat-overlay-bg"></div>
    <aside class="topcoat-overlay">
        <h1>Are eagles nice ?</h1>
        <div class="topcoat-overlay-buttons">
            <button role="button" class="topcoat-button">No</button>
            <button role="button" class="topcoat-button--cta">Yes</button>
        </div>
    </aside>

*/

@import overlay-mixin

.topcoat-overlay
    overlay-base()
    position: absolute
    left 50%
    top 5%
    padding var-overlay-padding
    border-radius: var-border-radius
    background-color var-modal-bg-color
    border var-border
    width var-overlay-width
    margin-left var-overlay-margin--left
    text-align center
    z-index 10

.topcoat-overlay
    h1
        padding-bottom 20px
        border-bottom var-overlay__header-border

.topcoat-overlay-bg
    position absolute
    width 100%
    height 100%
    background-color var-overlay-bg-color
    box-shadow var-overlay-bg-box-shadow
    z-index 5

.topcoat-overlay-buttons
    margin-top 20px
    .topcoat-button, .topcoat-button--cta
        margin 5px
